{% extends 'emp_app/base.html' %}
{% block title %} EMS | Add Employee {% endblock %}
{% block content %}
    <h1>Add An Employee</h1>
    <hr>
    <form action="/add_emp" method="post">
        {% csrf_token %}
      <div class="mb-3">
          <label for="firstName" class="form-label">First Name</label>
          <input type="text" class="form-control" id="firstName" name="firstName" value="{{ firstName }}">

          <label for="lastName" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="lastName" name="lastName" value="{{ lastName }}">

          <label for="salary" class="form-label">Salary</label>
          <input type="number" class="form-control" id="salary" name="salary" value="{{ salary }}">

          <label for="bonus" class="form-label">Bonus</label>
          <input type="number" class="form-control" id="bonus" name="bonus" value="{{ bonus }}">

          <label for="phone" class="form-label">Phone</label>
          <input type="number" class="form-control" id="phone" name="phone" value="{{ department }}">

          <label for="department" class="form-label">Department</label>
          <input type="number" class="form-control" id="department" name="department" value="{{ department }}">

          <label for="role" class="form-label">Role</label>
          <input type="number" class="form-control" id="role" name="role" value="{{ role }}">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}