{% extends 'emp_app/base.html' %}
{% block title %} EMS | Filter Employee {% endblock %}
{% block content %}
    <h1>Filter An Employee</h1>
    <hr>
    <form action="/filter_emp" method="post">
        {% csrf_token %}
      <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="firstName" name="name" value="{{ name }}">

          <label for="department" class="form-label">Department</label>
          <input type="text" class="form-control" id="department" name="department" value="{{ department }}">

          <label for="role" class="form-label">Role</label>
          <input type="text" class="form-control" id="role" name="role" value="{{ role }}">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}