{% extends 'emp_app/base.html' %}
{% block title %} EMP | Home {% endblock %}
{% block content %}
    <h1>Employee Management System</h1>
    <hr>
    <a class="btn btn-primary" href="/view_emp" role="button">View All Employees</a>
    <a class="btn btn-primary" href="/add_emp" role="button">Add An Employee</a>
    <a class="btn btn-primary" href="/remove_emp" role="button">Remove An Employee</a>
    <a class="btn btn-primary" href="/filter_emp" role="button">Filter An Employee</a>
{% endblock %}