{% extends 'emp_app/base.html' %}
{% block title %} EMS | Remove Employee {% endblock %}
{% block content %}
    <h1>Remove An Employee</h1>
    <hr>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Choose an Employee
      </button>
      <ul class="dropdown-menu">
          {% for emp in emps %}
            <li>
                <a class="dropdown-item" href="/remove_emp/{{ emp.id }}">{{ emp.firstName }} {{ emp.lastName }}</a>
            </li>
          {% endfor %}
      </ul>
    </div>
{% endblock %}